VITE_ZENDBX_PROJECT_ID=718af5ef-8ffb-49ba-b54a-26cc37755d2c
VITE_ZENDBX_API_URL=https://zendbx-2-zpp9.onrender.com/p/zenhire-718af5ef
VITE_ZENDBX_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.5bc4c8af13506e1240e97ab3f3f3de4a5bdea2dee12a47138ea86d6f3a7e0799
